{{ define "_header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <img src="../public/1595411147_logo provinsi jawa timur.png" alt="Gambar" width="50"/>
    <div>
      <div>
        <a href="#">Topic 1</a>
        <a href="#">Topic 2</a>
        <a href="#">Topic 3</a>
        <a href="#">Topic 4</a>
      </div>
      <input type="text" placeholder="Search">
    </div>
  </div>
</body>
</html>
{{end}}